In [1]:
import pandas as pd

In [2]:
# Refer to the CSV to pull information
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
count = purchase_data["SN"].value_counts()
count

Lisosia93       5
Idastidru52     4
Iral74          4
Pheodaisun84    3
Phyali88        3
               ..
Haestyphos66    1
Aidaira26       1
Meosridil82     1
Haellysu29      1
Assehoan67      1
Name: SN, Length: 576, dtype: int64

In [4]:
num_of_players = len(pd.unique(purchase_data['SN']))

In [5]:
print(f"Total Number of Playes is = {num_of_players}")

Total Number of Playes is = 576

In [13]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [15]:
# Count how many unique items within Item ID
purchase_data.loc[:, "Item ID"] = purchase_data["Item ID"].astype("float")
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID        float64
Item Name       object
Price          float64
dtype: object

In [16]:
unique_ID = len(pd.unique(purchase_data["Item ID"]))
unique_ID

179