In [1]:
import pandas as pd

In [2]:
# Refer to the CSV to pull information
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Check csv is being read and pull first 5 rows to get an idea of what the original csv contains
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Check how many items each player (by Screen Name) purchased
player_purchases = purchase_data["SN"].value_counts()
player_purchases

Lisosia93        5
Idastidru52      4
Iral74           4
Saistyphos30     3
Tyisur83         3
                ..
Phiristi62       1
Rastynusuir31    1
Shidai42         1
Ermol76          1
Aiduesu86        1
Name: SN, Length: 576, dtype: int64

In [4]:
# Count how many different playes purchased items (identified by Screen Names)
num_of_players = len(pd.unique(purchase_data['SN']))

In [5]:
print(f"Total Number of Players is = {num_of_players}")

Total Number of Players is = 576

In [6]:
# Determine data type of "Item ID" to find how many unique items there are. 
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [7]:
# Could not count Item IDs; convert Item ID column into floats
purchase_data.loc[:, "Item ID"] = purchase_data["Item ID"].astype("float")
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID        float64
Item Name       object
Price          float64
dtype: object

In [8]:
# Count how many unique items there are within Item ID
unique_ID = len(pd.unique(purchase_data["Item ID"]))
unique_ID

179

In [9]:
# Add total revenue by using .sum on "Price" column
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [10]:
# Find total number of purchases
purchase_amount = len(purchase_data)
purchase_amount

780

In [11]:
# Find the average price of each item
price_average = (total_revenue/purchase_amount)
price_average

3.0509871794871795

In [12]:
price_average = "${:,.2f}".format(price_average)
total_revenue = "${:,.2f}".format(total_revenue)

In [13]:
# Create lists for each variable 
purchasing_analysis = [{"Unique Items": unique_ID,
                        "Average Price": price_average,
                        "Number of Purchases": purchase_amount,
                        "Total Revenue": total_revenue}]


  
# Create DataFrame of lists to demonstrate totals
totals_df = pd.DataFrame(purchasing_analysis) 

totals_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

In [14]:
gender_count = purchase_data["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [15]:
# Isolating Male data
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_players.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108.0,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143.0,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92.0,Final Critic,4.88
3,3,Chamassasya86,24,Male,100.0,Blindscythe,3.27
4,4,Iskosia90,23,Male,131.0,Fury,1.44

In [16]:
# Isolating Female & Other data
female_players = purchase_data.loc[purchase_data["Gender"] == "Female", :]
other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

In [17]:
# Separate genders and count them
male = male_players["SN"].value_counts()
total_male = len(male)
female = female_players["SN"].value_counts()
total_female = len(female)
other = other_players["SN"].value_counts()
total_other = len(other)

# Check that I have the correct result
print(f"Female = {total_female}")
print(f"Male = {total_male}")
print(f"Other = {total_other}")

Female = 81
Male = 484
Other = 11

In [18]:
# Using the total for each, find percentage from total number of players
percent_male = (total_male/num_of_players)
percent_female = (total_female/num_of_players)
percent_other = (total_other/num_of_players)

In [19]:
# Format the percentages to appear properly in the df
percent_male = "{:.2%}".format(percent_male)
percent_female = "{:.2%}".format(percent_female)
percent_other = "{:.2%}".format(percent_other)

In [20]:
# Create data frame with the information necessary for Totals and Percentage for each
demo_summary = pd.DataFrame({
    "Total Male":[total_male, total_female, total_other],
    "Percent of Players":[percent_male, percent_female, percent_other]},
    {"Male":[],
    "Female":[],
     "Other / Non-Disclosed":[],
   })
demo_summary

                       Total Male Percent of Players
Male                          484             84.03%
Female                         81             14.06%
Other / Non-Disclosed          11              1.91%

In [21]:
# Find Total purchases 
m_purchase_count = len(pd.unique(male_players["Purchase ID"]))
f_purchase_count = len(pd.unique(female_players["Purchase ID"]))
o_purchase_count = len(pd.unique(other_players["Purchase ID"]))

print(f"Males {m_purchase_count}")
print(f"Females {f_purchase_count}")
print(f"Other/Non-Disclosed {o_purchase_count}")

Males 652
Females 113
Other/Non-Disclosed 15

In [22]:
# Find total purchase value
m_purchase_value = male_players["Price"].sum()
f_purchase_value = female_players["Price"].sum()
o_purchase_value = other_players["Price"].sum()
print(f"Males {m_purchase_value}")
print(f"Females {f_purchase_value}")
print(f"Other/Non-Disclosed {o_purchase_value}")

Males 1967.64
Females 361.94
Other/Non-Disclosed 50.19

In [23]:
# Find average purchase price
m_avg_price = m_purchase_value/m_purchase_count
f_avg_price = f_purchase_value/f_purchase_count
o_avg_price = o_purchase_value/o_purchase_count

In [24]:
# Find Avg Purchase per Person
m_individual_avg = m_purchase_value/total_male
f_individual_avg = f_purchase_value/total_female
o_individual_avg = o_purchase_value/total_other

In [25]:
# Create data frame with the information necessary for Gender Purchase Analysis
gender_analysis = pd.DataFrame({
    "Purchase Count":[m_purchase_count, f_purchase_count, o_purchase_count],
    "Average Purchase Price":[m_avg_price, f_avg_price, o_avg_price],
    "Total Purchase Value":[m_purchase_value, f_purchase_value, o_purchase_value],
    "Average Purchase Total per Person":[m_individual_avg, f_individual_avg, o_individual_avg]},
    {"Male":[],
    "Female":[],
     "Other / Non-Disclosed":[],
   })

# Format each column to display currency
gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("${:.2f}".format)
gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("${:.2f}".format)
gender_analysis["Average Purchase Total per Person"] = gender_analysis["Average Purchase Total per Person"].map("${:.2f}".format)

gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [26]:
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [27]:
# Age Demographics - Break apart players by age
# Define bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Lables for bins
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [28]:
# Create a new age range column
purchase_data ["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108.0,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143.0,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92.0,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100.0,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131.0,Fury,1.44,20-24

In [29]:
# Organize df by Age Range

age_ranges = purchase_data.groupby("Age Range")
age_ranges.count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Range
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

In [46]:
average_price_range = age_ranges["Price"].mean()
average_price_range

Age Range
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [45]:
purchase_value_range = age_ranges["Price"].sum()
purchase_value_range

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [32]:
purchase_count_range = age_ranges["SN"].count()
purchase_count_range

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [33]:
#player_average_range = purchase_value_range/age_counts
#player_average_range

In [ ]:
# Create new df using age demographics

In [35]:
count_in_range = age_ranges["SN"].value_counts()
count_in_range

Age Range  SN
<10        Haillyrgue51    3
           Anallorgue57    2
           Eurithphos97    2
           Ilmol66         2
           Sondadar26      2
                          ..
40+        Isursuir31      1
           Jiskjask85      1
           Lisovynya38     1
           Mindossa76      1
           Salilis27       1
Name: SN, Length: 576, dtype: int64

In [36]:
age_counts = age_ranges["SN"].unique()
age_counts

Age Range
<10      [Eusri44, Haillyrgue51, Seuthep89, Heudai45, T...
10-14    [Lirtossa84, Aeralria27, Reulae52, Zhisrisu83,...
15-19    [Idai61, Sondim73, Aidaillodeu39, Yaliru88, Ji...
20-24    [Lisim78, Ithergue48, Chamassasya86, Iskosia90...
25-29    [Lisirra87, Yasrisu92, Phaelap26, Chamirraya83...
30-34    [Chamalo71, Siala43, Idaisuir85, Iaralrgue74, ...
35-39    [Itheria73, Chanosian48, Saesrideu94, Siarithr...
40+      [Lisovynya38, Eyrian71, Jiskjask85, Isursuir31...
Name: SN, dtype: object

In [37]:
under_ten = count_in_range['<10'].count()
under_fifteen = count_in_range['10-14'].count()
under_twenty = count_in_range['15-19'].count()
under_twentyfive = count_in_range['20-24'].count()
under_thirty = count_in_range['25-29'].count()
under_thirtyfive = count_in_range['30-34'].count()
under_forty = count_in_range['35-39'].count()
over_forty = count_in_range['40+'].count()

In [38]:
# Create new df using totals for each group
age_totals = pd.DataFrame({
    "Purchase ID": ["23", "28", "136", "365", "101", "73", "41", "13"],
    "Total Count": [under_ten, under_fifteen, under_twenty, under_twentyfive, under_thirty, under_thirtyfive, under_forty, over_forty]
})
age_totals

  Purchase ID  Total Count
0          23           17
1          28           22
2         136          107
3         365          258
4         101           77
5          73           52
6          41           31
7          13           12