In [1]:
import pandas as pd

In [2]:
# Refer to the CSV to pull information
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Check csv is being read and pull first 5 rows to get an idea of what the original csv contains
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Check how many items each player (by Screen Name) purchased
player_purchases = purchase_data["SN"].value_counts()
player_purchases

Lisosia93        5
Idastidru52      4
Iral74           4
Chamjask73       3
Saistyphos30     3
                ..
Chamimla73       1
Phiarithdeu40    1
Chadossa56       1
Minduri31        1
Pheulidil31      1
Name: SN, Length: 576, dtype: int64

In [4]:
# Count how many different playes purchased items (identified by Screen Names)
num_of_players = len(pd.unique(purchase_data['SN']))

In [5]:
print(f"Total Number of Players is = {num_of_players}")

Total Number of Players is = 576

In [6]:
# Determine data type of "Item ID" to find how many unique items there are. 
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [7]:
# Could not count Item IDs; convert Item ID column into floats
purchase_data.loc[:, "Item ID"] = purchase_data["Item ID"].astype("float")
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID        float64
Item Name       object
Price          float64
dtype: object

In [8]:
# Count how many unique items there are within Item ID
unique_ID = len(pd.unique(purchase_data["Item ID"]))
unique_ID

179

In [9]:
# Add total revenue by using .sum on "Price" column
total_revenue = purchase_data["Price"].sum()


total_revenue

'$2,379.77'

In [10]:
# Find total number of purchases
purchase_amount = len(purchase_data)
purchase_amount

780

In [19]:
# Find the average price of each item
price_average = (total_revenue/purchase_amount)

price_average

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
price_average = "${:,.2f}".format(price_average)
total_revenue = "${:,.2f}".format(total_revenue)

In [ ]:
# Create lists for each variable 
purchasing_analysis = [{"Unique Items": unique_ID, "Average Price": price_average, "Number of Purchases": purchase_amount, "Total Revenue": total_revenue}]
  
# Create DataFrame of lists to demonstrate totals
totals_df = pd.DataFrame(purchasing_analysis) 

totals_df

In [ ]:
gender_count = purchase_data["Gender"].value_counts()
gender_count

In [ ]:
# Isolating Male data
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_players.head(5)

In [ ]:
# Isolating Female & Other data
female_players = purchase_data.loc[purchase_data["Gender"] == "Female", :]
other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

In [ ]:
# Separate genders and count them
male = male_players["SN"].value_counts()
total_male = len(male)
female = female_players["SN"].value_counts()
total_female = len(female)
other = other_players["SN"].value_counts()
total_other = len(other)

# Check that I have the correct result
print(f"Female = {total_female}")
print(f"Male = {total_male}")
print(f"Other = {total_other}")

In [ ]:
# Using the total for each, find percentage from total number of players
percent_male = (total_male/num_of_players)
percent_female = (total_female/num_of_players)
percent_other = (total_other/num_of_players)

In [ ]:
# Format the percentages to appear properly in the df
percent_male = "{:.2%}".format(percent_male)
percent_female = "{:.2%}".format(percent_female)
percent_other = "{:.2%}".format(percent_other)

In [ ]:
# Create data frame with the information necessary for Totals and Percentage for each
demo_summary = pd.DataFrame({
    "Total Male":[total_male, total_female, total_other],
    "Percent":[percent_male, percent_female, percent_other]},
    {"Male":[],
    "Female":[],
     "Other / Non-Disclosed":[],
   })
demo_summary

In [ ]:
fem_players = purchase_data.loc[purchase_data["Gender"] == "Female", :]
fem_players.head(5)

In [ ]:
# Remind: update formats for prices in Totals_df